.modal {
  position: relative;
  height: 13.25rem;
  width: 100%;
  left: 0;

  transition: bottom 240ms ease-in-out;
  border-radius: 20px 20px 0 0;
  background: #323751;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.3);

  display: flex;
}

.modal-open {
  position: absolute;
  bottom: 0;
}

.close {
  position: absolute;
  bottom: -312px;
}

.modal-button {
 
  position: absolute;
  top: -0.90rem;
  right: 20px;
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.34);

  background: #FFF;
  width: 5rem;
  height: 1.6rem;
  border: 0.5px solid #E8E8E8;
  font-size: 0.625rem;
  color: #555555;
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.50rem;
;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.95);
  }

  img {
    width: 0.875rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  .infoModal {
    color: #efefef;
    font-family: Roboto;
    padding-left: 1.25rem;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 100%;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;

    }

    strong {
      font-weight: 300;
      font-size: 0.75rem;
      
    }
  }

  .inputContainer {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 1rem 1.563rem;

    .inputs {
      padding: 0 0.938rem;
    }
    input {

      min-width: 2.813rem;
      min-height: 3.438rem;
      background: #656982;
      border-radius: 3px;
      padding-top: 0.5rem;
    
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 1.875rem;
      line-height: 0;
      color: #efefef;
      border: 0;
     
    }
  }

  .containerConfirmButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .confirmButton {
      position: relative;
      width: 5.938rem;
      height: 1.5rem;
      border-radius: 0.25rem;
      font-size: 0.563rem;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      background: #ffffff;
      border: 0.5px solid #e8e8e8;
      color: #323751;
      transition: filter 0.2s;
      

      img {
        position: absolute;
        width: 1.125rem;
        margin: 0.15rem 0;
        bottom: 0rem;
        left: -0.563rem;
      }

      &:hover {
        filter: brightness(0.95);
      }
    }
  }
}
