* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

@media (min-width: 375px){
  html {
    font-size: 115%;
  }
}

@media (max-width: 220px){
  html {
    font-size: 65%;
  }
}
button {
  cursor: pointer;
}